<ion-header>
  <ion-toolbar>
    <ion-title>adicionar evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding classs="ligth">
  <form #fc = "ngForm" (ngSubmit)="onSubmit(fc)">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]= "evento.nome" #n="ngModel" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tema</ion-label>
      <ion-input type="tema" name="tema" [(ngModel)]= "evento.tema"  #t="ngModel" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data</ion-label>
      <ion-datetime   type="data" name="data" [(ngModel)]= "evento.data" #d="ngModel" required displayFormat="DD/MM/YYYY" min="2019-07-14" max="2050-31-12" value="2002-09-23T15:03:46.789"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Horario</ion-label>
      <ion-datetime  displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Local</ion-label>
      <ion-input type="local" name="local" [(ngModel)]="evento.local" #l="ngModel" required></ion-input>
    </ion-item>
    
    <ion-item lines="none"></ion-item>
      <ion-button type="submit" (click)= "showLoading()">Salvar</ion-button>
      <ion-button routerLink="/" (click)="fc.clear()">Cancelar</ion-button>

  </form>
</ion-content>


